@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="description" content="价值工时系统登陆">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/signin.css" />
    </head>
    <body class="text-center">
        <div class="form-signin">
            <label for="userName" class="sr-only">用户名</label>
            <input type="text" id="userName" class="form-control" placeholder="请输入用户名" required autofocus />
            <label for="pwd" class="sr-only">密码</label>
            <input type="password" id="pwd" class="form-control" placeholder="密码" required />
            <button class="btn btn-lg btn-primary btn-block" id="btnLogin">登录</button>
        </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/hrm.js"></script>
        <script src="~/js/login.js"></script>
    </body>
</html>